body {
    width: 100vw;
    background-color: #b8b8d1;
    font-family: "Courier New", monospace;
    text-align: center;
  }
  .radio-div {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
  }
  
  button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    margin: 20px;
    padding: 10px 15px;
    text-decoration: none;
    flex-direction: column;
    justify-items: center;
    font-size: 16px;
  }
  